* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.profile_contact_input {
  outline: none;
  margin: 5px 0 10px;
  border-radius: 4px;
  padding: 4px;
  height: 32px;
  width: 240px;
  color: #4b527e;
  font-size: medium;
  letter-spacing: 0.5px;
}
.profile_contact_input_error {
  color: rose;
  font-size: small;
  text-shadow: red 1px 0 5px;
}

.input_background_color_errot {
  color: red;
}
