.page_number {
  margin: 5px;
  color: #4b527e;
  cursor: pointer;
}

.slected_page {
  font-weight: 1000;
  text-decoration: underline 2px;
}

.paginator_btn {
  height: 32px;
  width: 70px;
  margin: 0px 5px;
  border-radius: 4px;
  padding: 4px;

  color: #4b527e;
  border: 1px solid #4b527e;
  letter-spacing: 1px;
  font-size: medium;
  cursor: pointer;
}

.paginator_btn:hover {
  background-color: #7c81ad;
  color: #fff;
}

.paginator_btn:active {
  background-color: #4b527e;
  color: #fff;
}
