* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.dialogues {
  display: grid;
  grid-template-columns: 3fr 9fr;
}

.participants {
  padding: 15px;
}

.conversation_box {
  width: 400px;
  padding: 15px;
  display: flex;
  flex-direction: column;
}
.conversation_box .msg_textarea {
  margin-top: 10px;
}
.conversation_box .msg_button {
  margin-top: 10px;
}
