* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* colors 
not used - #2E4374
header/font- #4B527E
navbar - #7C81AD
nav-page-background - #f8f0e5
font - #fff
*/
.page_number_box {
  margin: 5px 0;
}
.page_number {
  margin: 7px;
  color: #4b527e;
  cursor: pointer;
}

.slected_page {
  font-weight: 1000;
  text-decoration: underline 2px;
}

.user_card {
  border-radius: 20px;
  border: 1px solid #7c81ad;
  background-color: #fff;
  width: 400px;
  height: 110px;
  padding: 4px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 10px;
}
.user_img_and_btn_box {
  width: 90px;
  height: 110px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 5px;
}

.user_img_box {
  height: 60px;
  width: 60px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}

.img {
  width: 60px;
  border-radius: 50%;
}
.follow_btn {
  width: 70px;
  height: 24px;
  cursor: pointer;
  border-radius: 12px;
  border: none;
  background-color: #4b527e;
  color: #fff;
}

.user_presentation_box {
  width: 300px;
  height: 70px;
  color: #4b527e;
}

.user_presentation_box {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
