* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.login_password_input {
  outline: none;
  margin: 5px 0 10px;
  border-radius: 4px;
  padding: 4px;
  height: 32px;
  width: 220px;
  color: #4b527e;
  font-size: medium;
  letter-spacing: 0.5px;
}

.empty_div {
  height: 25px;
}
.login_password_input_error {
  color: #e0144c;
  font-size: small;
}

.login_password_input_touched {
  border: 3px solid #e0144c;
}
