* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.login_name_input {
  outline: none;
  margin: 5px 0 10px;
  border-radius: 4px;
  padding: 4px;
  height: 32px;
  width: 220px;
}
.login_name_input_error {
  color: crimson;
  font-size: small;
}

.login_name_input_touched {
  border: 3px solid crimson;
}
