* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.profile_box {
  border-radius: 20px;
  border: 1px solid #2e4374;
  background-color: #7c81ad;
  width: 330px;
  height: 370px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 15px;
}
.profile_img {
  width: 150px;
  height: 150px;
  margin: 0 10px;
  border-radius: 50%;
  background-color: #fff;
}
.profile_img_box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.img {
  width: 150px;
  border-radius: 50%;
}
.upload_profile_img_box {
  margin-top: 10px;
  /* background-color: #fff; */
  width: 100%;
  height: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.profile_img_input_label {
  height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.profile_img_input {
  width: 88px;
}
.profile_detail_box {
  padding: 10px;
  line-height: 1.3;
  letter-spacing: 1px;
  color: #fff;
}

.strong {
  font-weight: bold;
}
