* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.profile_box {
  border-radius: 8px;
  border: 1px solid #2e4374;
  background-color: #7c81ad;
  width: 640px;
  height: 440px;
  display: flex;
  justify-content: center;
  justify-content: space-around;
  align-items: center;
  margin: 15px;
}
.profile_sub_box_one {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #4b527e;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}
.profile_sub_box_two {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.profile_img {
  width: 200px;
  height: 200px;
  margin: 0 10px;
  border-radius: 50%;
  background-color: #fff;
}
.profile_img_box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.img {
  width: 200px;
  border-radius: 50%;
}
.upload_profile_img_box {
  margin-top: 10px;
  width: 100%;
  height: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.profile_img_input_label {
  height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.profile_img_input {
  display: none;
}
.upload_profile_img_btn {
  color: #fff;
  font-size: medium;
  height: 32px;
  width: 130px;
  margin: 5px auto;
  border-radius: 4px;
  padding: 4px;
  border: 1px solid #fff;
  letter-spacing: 1px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.upload_profile_img_btn:hover {
  background-color: #4b527e;
}

.upload_profile_img_btn:active {
  background-color: #7c81ad;
}
.profile_detail_box {
  padding: 10px;
  line-height: 1.3;
  letter-spacing: 1px;
  color: #fff;
}

.descriptive_item {
  margin-bottom: 10px;
}
.strong {
  font-weight: bold;
  display: inline;
  color: #2e4374;
}
.details {
  color: #fff;
}
.descriptive_item_contact_link_box {
  height: 30px;
  display: flex;
  align-items: center;
}
.contact_link_icon {
  height: 30px;
  width: 30px;
  padding: 2px;
  border: 1px #fff solid;
  border-radius: 50%;
  margin-top: 4px;
  margin-left: 15px;
  cursor: pointer;
}
.edit_profile_btn_box {
  margin: 20px 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.edit_profile_btn {
  height: 32px;
  width: 130px;
  margin: 5px auto;
  border-radius: 4px;
  padding: 4px;
  /* background-color: #4b527e; */
  background-color: #7c81ad;
  color: #fff;
  border: 1px solid #fff;
  letter-spacing: 1px;
  font-size: medium;
  cursor: pointer;
}

.edit_profile_btn:hover {
  background-color: #4b527e;
}

.edit_profile_btn:active {
  background-color: #7c81ad;
}
