* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.profile_box {
  border-radius: 20px;
  border: 1px solid #2e4374;
  background-color: #7c81ad;
  width: 500px;
  height: 110px;
  padding: 4px;
  display: flex;
  align-items: center;
  margin: 10px;
}
.profile_img_box {
  width: 80px;
  height: 80px;
  margin: 0 10px;
  border-radius: 50px;
  display: flex;
  justify-content: left;
  align-items: center;
  background-color: #fff;
}
.img {
  width: 80px;
  border-radius: 50%;
}
.profile_detail_box {
  line-height: 1.3;
  letter-spacing: 1px;
  color: #fff;
}

.strong {
  font-weight: bold;
}
