* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.strong {
  font-weight: bold;
  display: inline;
  color: #2e4374;
}

.no_status {
  text-shadow: #2e4374 2px 3px 5px;
}
.status_message_error {
  text-shadow: red 1px 1px 1px;
  font-size: small;
}
.status_input {
  outline: none;
  margin: 5px 0;
  border-radius: 4px;
  padding: 4px;
  height: 32px;
  width: 250px;
  color: #4b527e;
  font-size: medium;
  letter-spacing: 1px;
}
.status_input_error {
  border: 2px solid red;
}
.edit_status_box {
  height: 30px;
  display: flex;
  justify-content: start;
  align-items: center;
}
.edit_status_icon_box {
  display: flex;
  height: 100%;
  align-items: center;
}
.edit_status_icon {
  height: 24px;
  width: 24px;
  cursor: pointer;
}
.edit_status_icon:hover {
  color: #fff;
}
.edit_status_icon:active {
  color: #4b527e;
}
