* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.post_textarea {
  width: 200px;
  height: 50px;
  outline: none;
  border-radius: 5px;
  padding: 8px;
}

.post_textarea_error {
  border: 3px solid crimson;
}
.error_message {
  color: crimson;
}
