* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.nav {
  grid-area: nav;
  background-color: orange;
  height: 100%;
  padding: 20px;
}

a {
  color: #fff;
  text-decoration: none;
}

a.active {
  color: navy;
}
