* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.profile_aboutme_input {
  resize: none;
  outline: none;
  margin: 5px 0;
  border-radius: 4px;
  padding: 4px;
  height: 90px;
  width: 250px;
  color: #4b527e;
  font-size: medium;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  letter-spacing: 1px;
}
.profile_aboutme_input_error {
  color: rose;
  font-size: small;
  text-shadow: red 1px 0 5px;
}

.input_background_color_error {
  color: red;
}
