.error_box {
  left: 50%;
  position: absolute;
  background-color: #d70000;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  padding: 0 20px;
  min-width: 250px;
  max-width: auto;
  height: 50px;
  z-index: 10;
  transform: translate(-50%, 50%);
}
