* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.message_textarea {
  outline: none;
  border-radius: 10px;
  padding: 8px;
}

.message_textarea_error {
  border: 3px solid crimson;
}
.error_message {
  color: crimson;
}
