* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.app-wrapper {
  width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-rows: 100px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 5px;
  grid-template-areas:
    'header header header'
    'nav content content';
}

.app_content_wrapper {
  grid-area: content;
  background-color: antiquewhite;
  height: 100%;
}
