* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.strong {
  font-weight: bold;
  color: #2e4374;
}
.job_checkbox_box {
  width: 100%;
  height: 20px;
  color: #fff;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 5px 0;
}
.job_checkbox_answer {
  margin-left: 10px;
  color: #fff;
}

.job_checkbox {
  height: 20px;
  width: 20px;
  accent-color: #4b527e;
  border: #7c81ad 1px solid;
}
.save_changes_btn_box {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.save_changes_btn {
  height: 32px;
  width: 130px;
  margin: 5px auto;
  border-radius: 4px;
  padding: 4px;
  background-color: #4b527e;
  color: #fff;
  border: 1px solid #fff;
  letter-spacing: 1px;
  font-size: medium;
  cursor: pointer;
}

.save_changes_btn:hover {
  background-color: #4b527e;
}

.save_changes_btn:active {
  background-color: #7c81ad;
}
